body {
    font-family: 'Gentium Basic', sans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans;
}

body > .container {
    max-width: 900px;
    padding: 15px;
    font-size: 18px;
}

div.post div.main {
    display: flex;
}

div.post div.main .body {
    text-align: justify;
    line-height: 1.2em;
}

div.post div.reputation {
    padding: 15px;
}

div.post div.metadata {
    display: flex;
}

div.post div.metadata div {
    padding: 15px;
}

div.post div.metadata ul.tags {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

div.post div.metadata ul.tags li {
    display: inline-block;
    margin-right: 5px;
}

div.post div.metadata .user {
    text-align: right;
}

div.post div.comments {
    border-top: 1px solid hsl(0, 0%, 70%);
    padding-top: 15px;
    font-family: 'Open Sans', sans;
    font-size: 0.7em;
    color: hsl(0, 0%, 30%);
}
