body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #9369bf;
    color: white;
    font-family: monospace;
    font-size: 16px;
}

a:link, a:active {
    color: white;
}

body img#logo {
    margin: 15px;
}


h1 a {
    color: white;
    text-decoration: none;
}

#container {
    max-width: 700px;
    padding: 15px;
    padding-top: 150px;
}

#container #search {
    text-align: right;
}

#container #search input {
    background: transparent;
    border: 1px solid white;
    padding: 5px;
    color: white;
}

#container #search input[type="submit"] {
    border-left: 0px;
    border-style: dashed;
}

#container #hits {
    margin-top: 30px;
}

#container #hits a:link {
    display: block;
    text-decoration: none;
    text-align: justify;
    color: #2A1E36;
    
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #555;
}

#container #hits a p {
    margin: 0px;
}

#container #hits a p.title {
    font-weight: bold;
}

#container #hits a p.link {
    font-size: 0.8em;
    color: #201A24;
}

#container #hits a:hover {
    color: black;
    border-bottom: 1px dashed black;
}
