body {
    display: flex;
    flex-direction: row-reverse;
    background: #9369bf;
    color: white;
}

a:link, a:active {
    color: white;
}

body img#logo {
    margin: 15px;
}


h1 a {
    color: white;
    text-decoration: none;
}

#container {
    max-width: 700px;
    padding: 15px;
}

#container input {
    background: transparent;
    border: 1px solid white;
    padding: 5px;
    color: white;
}

#container input[type="submit"] {
    border-left: 0px;
    border-style: dashed;
}
